Package: com.vladkorotnev.camtime
Name: CamTime
Depends: mobilesubstrate
Version: 4.1-2
Architecture: iphoneos-arm
Description: Set timer and multiple shot in iOS Camera window
Maintainer: Vladislav Korotnev
Author: Vladislav Korotnev
Section: Tweaks
Installed-Size: 184
